* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: gold;
}

.content-footer {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}

.content-footer img {
  height: 1.5rem;
  margin-bottom: 15px;
}

.ventas-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 12rem 12rem 12rem;
      grid-template-rows: 12rem 12rem 12rem;
  -ms-grid-columns: 13rem 13rem;
      grid-template-columns: 13rem 13rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding-top: 2rem;
}

.grid-item {
  border: solid #000;
  background: white;
  text-align: center;
  padding-top: 35%;
  color: black;
  border-radius: 15px;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

.grid-item:hover {
  color: gold;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.entreno-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 20rem 20rem 20rem;
      grid-template-rows: 20rem 20rem 20rem;
  text-align: center;
  grid-row-gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entreno-item {
  border-radius: 5px;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  padding-top: 5rem;
  background: white;
}

.entreno-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

button:hover {
  color: gold;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.accordion-button {
  display: unset;
  text-align: center;
  border: none;
}

.accordion-button:not(.colapsed) {
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: whitesmoke;
}

.accordion-button:not(.colapsed):hover {
  color: gold;
  background: white;
}

.bg-light {
  background: whitesmoke;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-top: 5rem;
  width: 400px;
  margin: auto;
  padding-bottom: 10rem;
}

@media screen and (min-width: 800px) {
  .ventas-container {
    -ms-grid-rows: 16rem 16rem;
        grid-template-rows: 16rem 16rem;
    -ms-grid-columns: 17rem 17rem 17rem;
        grid-template-columns: 17rem 17rem 17rem;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .entreno-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 300px 300px;
        grid-template-columns: 300px 300px 300px;
    -ms-grid-rows: 20rem;
        grid-template-rows: 20rem;
    text-align: center;
    grid-column-gap: 2rem;
    padding-top: 6rem;
    padding-bottom: 10rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .entreno-item {
    background: white;
    border-radius: 10px;
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
    -webkit-transition-duration: 600ms;
            transition-duration: 600ms;
    padding-top: 8rem;
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */