* {
	font-family: 'Montserrat', sans-serif; 

}

body {
	background: gold;
}

.parrafo {
	text-align: center;
	padding: 3rem;
	font-size: 20px;
}

.caja {
	display: grid;
	grid-template-rows: 150px 150 px 150 px;
	padding: 5rem;
	margin-top: 2rem ;
	margin-bottom: 2rem ;
	margin-right: 2rem ;
	margin-left: 2rem ;
	background: white;
	border-radius: 10px;
}

.caja {
	transition: transform;
	transition-duration: 600ms;

}

.caja:hover {
	transform: scale(1.1);
}

.content-footer {
	width: 100%;
	text-align: center;
}

.content-footer img {
	height: 1.5rem;
	margin-bottom: 15px;

}


@media screen and (min-width: 900px) {

	.caja {
	transition: transform;
	transition-duration: 600ms;
}
	.caja:hover {
	transform: scale(1.03);
}



}